.dashicons-facebook:before {
  content: "\f304";
  line-height: 37px;
}

.entry .entry-content a {
  text-decoration: none;
}

ul.footer-social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.footer-social-links li {
  display: inline;
}
